.visualization {
  padding: 10px 50px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.visualization__save {
  height: 26px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.visualization__save-name {
  text-align: center;
  height: 20px;
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid grey;
  margin-right: 15px;
}

.visualization__save-name:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid lightskyblue;
}

.visualization__save-submit {
  cursor: pointer;
  height: 25px;
  background-color: lightskyblue;
  border: 1px solid grey;
  border-radius: 7px;
}

.visualization__main {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.visualization__refregirator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.visualization__inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualization__boxes {
  display: flex;
  flex-direction: row;
}

.refregirator-place {
  margin: 5px;
  position: relative;
  align-items: center;
  justify-items: center;
  border: 2px solid #37e58b;

  display: grid;
  grid-template-columns: repeat(
    var(--column-count),
    calc(var(--width) / var(--column-count))
  );
  grid-template-rows: repeat(
    var(--row-count),
    calc(var(--height) / var(--row-count))
  );
}

.refregirator-place::before {
  position: absolute;
  top: 0;
}

.visualization__door {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__door::before {
  content: "Дверь";
}

.visualization__firstShelf {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__firstShelf::before {
  content: "Первая полка";
}

.visualization__secondShelf {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__secondShelf::before {
  content: "Вторая полка";
}

.visualization__thirdShelf {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__thirdShelf::before {
  content: "Третья полка";
}

.visualization__fruitsBox {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__fruitsBox::before {
  content: "Ящик для фруктов";
}

.visualization__vegteablesBox {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__vegteablesBox::before {
  content: "Ящик для овощей";
}

.visualization__outside {
  --padding: 30px;
  --width: calc(250px - var(--padding) * 2);
  --height: calc(150px - var(--padding) * 2);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);

  --row-count: 2;
  --column-count: 3;
}

.visualization__outside::before {
  content: "Снаружи";
}

.visualization__image {
  width: 50px;
  height: 50px;
}
