.header {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  align-items: center;
  font-size: 25px;
}

.header__link {
  margin-right: 30px;
  text-decoration: none;
}

.header__link:visited {
  text-decoration: none;
  color: black;
}

.header__logo {
  width: 100px;
  height: 100px;
  margin-right: auto;
}
